<form action="/frequency/create">
    
I want to write every 

<select name="interval">
<option value="1">Minute</option>
<option value="60">Hour</option>
<option value="1440">Day</option>
<option value="10080">Week</option>
<option value="44640">Month</option>
</select>

for a/n

<select name="duration">
<option value="60">Hour</option>
<option value="1440">Day</option>
<option value="10080">Week</option>
<option value="44640">Month</option>
<option value="525600">Year</option>
</select><br><br>

Make it

<select name="privacy">
<option value="private">Private</option>
<option value="public">Public</option> 

</select><br><br>
<input type="submit">
<a href="/">Cancel</a>

<br><br><br>
 If you don't keep up your frequency one entry will be deleted for every interval you miss.
 
</form>


