<!-- 
When the user presses "Submit" in the form, the content of the form fields
will be added to the end of "/create" (the action specified in the <form> tag),
and the resulting URL will be requested from the server. For example the URL
might be 
/create?width=25&height=25&top=25&left=25&color=#ff0000
You can try entering a URL like this directly into the browser. It does the same
thing as filling in the form and pressing "Submit".
-->


<form action="/phrase/create">
    
<input type="hidden" name="frequency_id" id="textarea" value="{{frequency_id}}">

        <!-- The "name" attribute determines the na
        me of the attribute in the URL -->
    
<textarea name="sashatext" id="sashatext" rows="20" cols="200" placeholder="Write Here..."></textarea>
        <br><br>
    <!-- Here's the submit button -->
    <input type="submit"> 
    
    <!-- This is just a normal link back to the home page -->
    <a  href="/">Cancel</a>
    </form>
    
    <!--
    Available HTML tags for form fields:
    http://www.w3schools.com/html/html_form_elements.asp
    
    More info:
    https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms
    -->
    

<script>
    document.getElementById("sashatext").focus();
</script>
